$main-standard-dark: #2e6262;
$main-standard: #678b8b;
$main-white: #fff;

.border-standard {
  border: 2px solid $main-standard-dark;
  border-radius: 2px;
}

.background-standard {
  background-color: $main-standard;
}
