// General Layout Settings

$xs: 320px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;

$xs-md: 320px 768px;
$xs-lg: 320px 1024px;
$xs-xl: 320px 1440px;
$md-lg: 768px 1024px;
$md-xl: 768px 1440px;
$lg-xl: 1024px 1440px;

$xs-pad: 0 10px;
$md-pad: 0 24px;
$lg-pad: 0 32px;
$xl-pad: 0 40px;

body {
  display: block;
  margin: 10px auto;
  padding: $xs-pad;
  width: $xs;
  @include breakpoint($md-lg) {
    padding: $md-pad;
    width: $md;
  }
  @include breakpoint($lg-xl) {
    padding: $lg-pad;
    width: $lg;
  }
  @include breakpoint($xl) {
    padding: $xl-pad;
    width: $xl;
  }
}
